<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'XL - Restablecer Contraseña'}) %>

    <body class="forgotPassword">
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/breadcrumbs',{ másSecciones: '<a href="/users/login">Login</a>',página: 'Restablecer Contraseña'}) %>
                <h1>Restablecer contraseña</h1>
                    <section class="card">
                        <form class="form-forgotPassword" action="" method="post">
                            <div class="container bottom">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email">
                                <small>
                                    <%= locals.errors && errors.email?errors.email.msg:null %>
                                </small>
                            </div>
                            <div class="sendEmail-button">
                                <button type="submit">Enviar</button>
                            </div>
                            <div class="form-status">
                                <h5>Ingresa tu email con el que te registraste y en unos minutos te llegará un email
                                    para que puedas
                                    generar una nueva clave.</h5>
                            </div>
                        </form>
                    </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>
