<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'XL - Inicia Sesión'}) %>

    <body class="login">
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/breadcrumbs',{másSecciones:null,página:'Login'}) %>
                <h1>Inicia sesión</h1>
                    <section class="card">
                        <form class="form-login" action="/users/login" method="post">
                            <section class="card-header">
                                <h2>¡Bienvenid@!</h2>
                            </section>
                            <section class="card-body">
                                <div class="container bottom">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Email"
                                        value="<%= locals.old && old.name ? old.email : null %>">
                                        <small id="emailContainer">
                                            <%= locals.errors && errors.email?errors.email.msg:null %>
                                        </small>
                                </div>
                                <div class="container bottom">
                                    <label for="pass">Clave</label>
                                    <div class="password">
                                        <input type="password" name="pass" id="pass" placeholder="Password">
                                        <i class="fas fa-eye-slash" id="eye-pass"></i>
                                    </div>
                                        <small id="passContainer">
                                            <%= locals.errors && errors.pass?errors.pass.msg:null %>
                                        </small>
                                       
                                            <div class="recordarme bottom">
                                                <input type="checkbox" name="recordarme" id="recordarme">
                                                <label for="recordarme">
                                                    <span>Recordarme</span>
                                                </label>
                                            </div>
                                </div>
                                <div class="login-button">
                                    <button type="submit"><i class="fa fa-sign-in"></i> Iniciar sesión</button>
                                </div>
                                <span class="I-forgot-my-password"><a href="/users/forgotPassword"><i
                                            class="fas fa-exclamation-triangle"></i>
                                        Olvidé mi contraseña</a>
                                </span>
                            </section>
                            <section class="card-footer">
                                <h4>¿Aún no te has registrado?</h4>
                                <p>¡Completa el siguiente formulario y disfruta de todos nuestros productos!</p>
                                <a href="/users/register" class="button-register"> <i class="fas fa-user-plus"></i>
                                    ¡Registrarme!</a>
                            </section>
                        </form>
                    </section>
            </main>
            <%- include('../partials/footer') %>
                <script src="/javascripts/users/login.js"></script>
                <script src="/javascripts/users/eyePass.js"></script>
    </body>

</html>