<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'XL - Perfil'}) %>

    <body class="profileEdit">
        <%- include('../partials/header') %>
            <main>
                <h1>Edición de Perfil</h1>
                <%- include('../partials/breadcrumbs',{ página: 'Edición de Perfil'}) %>
                
<!-- <li class="crumb"><a href="/users/profile">Perfil</a></li> <li class="divider"> > </li> -->

                <section class="card">
                

                    <form class="form-profileEdit" action="/users/profileEdit/<%=locals.userLogin.id%>?_method=put" method="post" id="formulario">

                        <div class="container">
                            <div id="preview" class="styleImage">
                                <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                            </div>
                            <label  class="selectImg" for="file">
                                <img id="img-preview" src="/img/users/<%= locals.userLogin.imagen%>" alt="">
                            </label>
                               <div class="labelinput"> 
                            <input type="file" name="imagen" id="file">
                        </div>
                        </div>

                   
                        <div class="container">
                            <label for="nombreUsuario">username</label>
                            <input type="text" name="nombreUsuario" id="nombreUsuario"
                                placeholder="Ingresa tu nombre de usuario"
                                value="<%=locals.old && old.nombreUsuario ? old.nombreUsuario : locals.userLogin.nombreUsuario %>">
                        </div>
                        <div class="container">
                            <label for="nombre">nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                                value="<%=locals.old && old.name ? old.name : locals.userLogin.nombre %>">
                        </div>

                        <div class="container">
                            <label for="apellido">apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido"
                                value="<%=locals.old && old.apellido ? old.apellido : locals.userLogin.apellido %>">
                        </div>

                        <div class="container">
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" placeholder="Ingresa tu email"
                                value="<%=locals.userLogin.email%>" disabled>
                        </div>

                        <div>
                            <label for="genero">Editar Género</label>
                            <!-- <input type="género" id="género" name="género" value="<%= locals.userLogin.género%> "> -->
                            <section class="genre">
                                <article>
                                    <input type="radio" name="genero" id="F" value="F" <%=locals.old &&
                                        old.género==='Female' ? "checked" : null%> >
                                    <label for="F">Femenino</label>
                                </article>
                                <article>
                                    <input type="radio" name="genero" id="M" value="M" <%=locals.old &&
                                        old.género==='Male' ? "checked" : null%>>
                                    <label for="M">Masculino</label>
                                </article>
                                <article>
                                    <input type="radio" name="genero" id="NB" value="NB" <%=locals.old &&
                                        old.género==='Non-binary' ? "checked" : null%> >
                                    <label for="NB">Otro</label>
                                </article>
                            </section>
                        </div>

                        <div class="container">
                            <label for="teléfono">teléfono</label>
                            <input type="text" name="teléfono" id="teléfono" placeholder="Ingresa tu teléfono"
                                value="<%=locals.old && old.teléfono ? old.teléfono : locals.userLogin.teléfono %>">
                            <div id="phoneContainer"></div>
                        </div>
                        <div class="container">
                            <label for="pais">pais</label>
                            <input type="text" name="pais" id="pais" placeholder="Ingresa tu pais"
                                value="<%=locals.old && old.pais ? old.pais : locals.userLogin.pais %>">
                            <div id="paisContainer"></div>
                        </div>

                        <div class="container">
                            <label for="provincia">estado_provincia</label>
                            <input type="text" name="provincia" id="estado_provincia"
                                placeholder="Ingresa tu estado o provincia"
                                value="<%=locals.old && old.estado_provincia ? old.estado_provincia : locals.userLogin.estado_provincia %>">
                            <div id="estado_provinciaContainer"></div>
                        </div>
                        <div class="container">
                            <label for="ciudad">ciudad</label>
                            <input type="text" name="ciudad" id="ciudad" placeholder="Ingresa tu ciudad"
                                value="<%=locals.old && old.ciudad ? old.ciudad : locals.userLogin.ciudad %>">
                            <div id="ciudadContainer"></div>
                        </div>

                        <div class="container">
                            <label for="calle">calle</label>
                            <input type="text" name="calle" id="ciudad" placeholder="Ingresa tu calle"
                                value="<%=locals.old && old.calle ? old.calle : locals.userLogin.calle %>">
                            <div id="calleContainer"></div>
                        </div>
                        <div class="container">
                            <label for="códigoPostal">códigoPostal</label>
                            <input type="text" name="códigoPostal" id="códigoPostal" placeholder="códigoPostal"
                                value="<%=locals.old && old.códigoPostal ? old.códigoPostal : locals.userLogin.códigoPostal %>">
                            <div id="códigoPostalContainer"></div>
                        </div>

                        <div>

                            <button type="submit" class="enviar">Enviar</button>

                    </form>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>
    <script src="/javascripts/images.js"></script>

</html>