<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'XL - Perfil'}) %>

    <body class="profileEdit">
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/breadcrumbs',{ másSecciones: '<a href="/users/profile">Perfil</a>',página: 'Edición de Perfil' }) %>
                    <h1>Edición de Perfil</h1>

                    <section class="card">

                        <form class="form-profileEdit" action="/users/profileEdit/<%=locals.userLogin.id%>?_method=put"
                            method="post" id="formulario" enctype="multipart/form-data">

                            <div class="img">
                                <div id="preview" class="styleImage">
                                    <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                </div>
                                <label class="selectImg" for="user-img">
                                    <img id="img-preview" src="/img/users/<%= locals.userLogin.imagen%>" alt="">
                                </label>
                                <div class="labelinput">
                                    <input id="user-img" type="file" name="avatar" id="avatar">
                                </div>
                            </div>

                            <div class="container">
                                <label for="nombre  Usuario">Nombre de Usuario</label>
                                <input type="text" name="nombreUsuario" id="nombreUsuario"
                                    placeholder="Nombre de usuario"
                                    value="<%=locals.old && old.nombreUsuario ? old.nombreUsuario : locals.userLogin.nombreUsuario %>">
                            </div>
                            <div class="container">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" id="name" placeholder="Nombre"
                                    value="<%=locals.old && old.name ? old.name : locals.userLogin.nombre %>">
                            </div>

                            <div class="container">
                                <label for="lastname">Apellido</label>
                                <input type="text" name="lastname" id="lastname" placeholder="Apellido"
                                    value="<%=locals.old && old.lastname ? old.lastname : locals.userLogin.apellido %>">
                            </div>

                            <div class="container">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email"
                                    value="<%=locals.userLogin.email%>" disabled>
                            </div>
                            <div class="container">
                                <label for="genero">Género</label>
                                <select name="genero" id="genero">
                                    <option value="" selected hidden>Selecciona una opción</option>
                                    <option <%=locals.userLogin.genero==='Male' ? "selected" : null%> value="Male"
                                        >Masculino</option>
                                    <option <%=locals.userLogin.genero==='Female' ? "selected" : null%> value="Female"
                                        >Femenino</option>
                                    <option <%=locals.userLogin.genero==='Non-binary' ? "selected" : null%>
                                        value="Non-binary">No binario</option>
                                    <option <%=locals.userLogin.genero==='-' ? "selected" : null%> value="-">Otro
                                    </option>
                                </select>
                            </div>

                            <div class="container">
                                <label for="phone">Teléfono</label>
                                <input type="text" name="phonenumber" id="phone" placeholder="Teléfono"
                                    value="<%=locals.old && old.phonenumber ? old.phonenumber : locals.userLogin.telefono %>">
                                <div id="phoneContainer"></div>
                            </div>

                            <div class="container">
                                <label for="pais">Pais</label>
                                <input type="text" name="pais" id="pais" placeholder="Pais"
                                    value="<%=locals.old && old.pais ? old.pais : locals.userLogin.pais %>">
                                <div id="paisContainer"></div>
                            </div>

                            <div class="container">
                                <label for="provincia">Estado/Provincia</label>
                                <input type="text" name="estado_provincia" id="estado_provincia"
                                    placeholder="Estado o provincia"
                                    value="<%=locals.old && old.estado_provincia ? old.estado_provincia : locals.userLogin.estado_provincia %>">
                                <div id="estado_provinciaContainer"></div>
                            </div>

                            <div class="container">
                                <label for="ciudad">Ciudad</label>
                                <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad"
                                    value="<%=locals.old && old.ciudad ? old.ciudad : locals.userLogin.ciudad %>">
                                <div id="ciudadContainer"></div>
                            </div>

                            <div class="container">
                                <label for="calle">Calle</label>
                                <input type="text" name="calle" id="calle" placeholder="Calle"
                                    value="<%=locals.old && old.calle ? old.calle : locals.userLogin.calle %>">
                                <div id="calleContainer"></div>
                            </div>

                            <div class="container">
                                <label for="codigoPostal">Código Postal</label>
                                <input type="number" name="codigoPostal" id="codigoPostal" placeholder="Código Postal"
                                    value="<%=locals.old && old.códigoPostal ? old.codigoPostal : locals.userLogin.codigoPostal%>">
                                <div id="codigoPostalContainer"></div>
                            </div>

                            <div>
                                <div class="enviar-cancelar">
                                    <button type="submit" class="enviar">Enviar</button>
                                    <a href="/admin/users" class="button-cancelar">
                                        Cancelar
                                    </a>
                                </div>
                        </form>
                    </section>
            </main>
            <%- include('../partials/footer') %>

              <!-- Visualizar imagenes -->
            <script src="/javascripts/images.js"></script>
            <!-- Códigos de teléfonos -->
            <script src="/javascripts/users/phone.js"></script>
            <script src="/javascripts/carrito.js"></script>
    </body>


</html>