<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'XL - Perfil'}) %>

    <body class="profile">
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/breadcrumbs',{másSecciones:null,página:'Perfil'}) %>
                    <h1>
                        <%= `${locals.userLogin.rol==1 ? 'Admin' : 'Usuario' } ${locals.userLogin.nombre}` %>
                    </h1>
                    <div class="info">
                        <section class="info-user card img">
                            <form class="form-cambiar-img" action="/users/profile?_method=PUT" method="post"
                                enctype="multipart/form-data">
                                <label class="selectImg" for="user-img">
                                    <img id="img-preview" src="/img/users/<%= locals.userLogin.imagen%>" alt="">
                                </label>
                                <div class="labelinput">
                                    <input id="user-img" type="file" name="avatar" placeholder="Imagen de perfil">
                                </div>
                                <h2>
                                    <%= locals.userLogin.nombre %>
                                        <%= locals.userLogin.apellido %>
                                </h2>
                            </form>
                            <ul>
                                <li>Nombre de Usuario: <p><%= locals.userLogin.nombreUsuario %></p>
                                </li>
                                <li>Nombre: <p><%= locals.userLogin.nombre %></p>
                                </li>
                                <li>Apellido: <p><%= locals.userLogin.apellido %></p>
                                </li>
                                <li>Email: <p><%= locals.userLogin.email %></p>
                                </li>
                              
                                <li>Género: <p><%=locals.userLogin.genero=='Male'?'Masculino':locals.userLogin.genero=='Female'?'Femenino':locals.userLogin.genero=='Non-binary'?'No binario':locals.userLogin.genero=='Otro'?'-':null%></p>
                                </li>
                                <li>Teléfono: <p><%= locals.userLogin.telefono %></p>
                                </li>
                                <li>País: <p><%= locals.userLogin.pais%></p>
                                </li>
                                <li>Estado/Provincia: <p><%= locals.userLogin.estado_provincia %></p>
                                </li>
                                <li>Ciudad: <p><%= locals.userLogin.ciudad %></p>
                                </li>
                                <li>Calle: <p><%= locals.userLogin.calle %></p>
                                </li>
                                <li>Código postal: <p><%= locals.userLogin.codigoPostal %></p>
                                </li>
                            </ul>
                            <h4><a href="/users/profileEdit">Editar datos</a></h4>
                        </section>


                        <section class="info-compras">
                            <h2>Mis Compras</h2>
                            <div class="card">
                                <h3>¡Hacé tu primer compra!</h3>
                                <h4><a href="/products/listProducts">VER PRODUCTOS</a></h4>
                            </div>
                        </section>
                    </div>
            </main>
            <%- include('../partials/footer') %>
            <script src="/javascripts/images.js"></script>
    </body>

</html>