<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title:'XL - Detalle de Producto'}) %>


    <body class="detalle">
        <%- include('./partials/header') %>
            <main class="mainDetalle">
                <%- include('./partials/breadcrumbs',{página:'Detail'}) %> 
                <section class="producto">
                    <div class="imagen">
                        <img src="/img/producto glade.webp" alt="producto glade">
                    </div>
                    <div class="bloqueDetalle">
                        <h3 class="titular">Aromatizante de ambientes en aerosol</h3>
                        <p class="precio">$326.10</p>
                        <div class="boton">
                            <input type="button" value="-">
                            <input class="medio" type="number" value="1" min="1" step="1">
                            <input type="button" value="+">
                        </div>
                        <button class="subcarrito">Agregar al carrito</button>
                        <span class="descripcion">Aroma de placer floral y frutos rojos.
                            Modo mas práctico de perfumar tu hogar de forma continúa.
                            Beneficios: Cuenta con un contenedor ajustable simplemente gira para controlar la intensidad
                            de
                            fragancia de acuerdo a su preferencia o tamaño de tu habitación.
                        </span>
                    </div>
                </section>
                <section class="relacionado">
                    <div class="comprando">
                        <a href=""><i class="fas fa-ban"></i></a>
                        <a href="">Seguir comprando</a>
                    </div>
                    <h3 class="tituloRelacionado">Productos relacionados</h3>
                    <div class="cajaRelacionada">

                        <% aside.forEach(element => { %>
                            <article>
                                <div class="contenedorRelacionado">
                                    <img src="/img/<%= element.imagen %> " alt="">
                                </div>
                                <h4 class="subproductos"><%= element.titulo %> </h4>
                                <span class="subtitular">Aromatizante de ambientes con fragancia bebe</span>
                                <p class="subprecio">$216.00</p>
                                <button class="subcarritos">Agregar al carrito</button>
    
                            </article>
                        <% }) %>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>