<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:'XL - Nuestros Productos'}) %>

    <body class="liProduct">
        <%- include('./partials/header') %>
            <main>
                <%- include('./partials/breadcrumbs',{másSecciones:null,página:'Nuestros Productos'}) %>
                    <h1 class="TituloPrincipal">Conoce nuestros productos</h1>
                    <article class="product-relacionado">
                    <% for( let i=0; i < 26; i++ ) { %>
                            <div class="contenedorRelacionado">
                                <img src="/img/productos/<%= productos[i].imagenes[0].nombre %> " alt="">
                            </div>
                            <h4 class="subproductos">
                                <%= productos[i].titulo %>
                            </h4>
                            <span class="subtitular">
                                <%= productos[i].descripcion %>
                            </span>
                            <p class="subprecio">
                                $<%= productos[i].precio %>
                            </p>
                            <button class="subcarritos" onclick="addItem('<%= productos[i].id %>')">Agregar al carrito</button>
                            <% } %>
                        </article>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>