<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:'XL - Nuestros Productos'}) %>

    <body class="liProduct">
        <%- include('./partials/header') %>
            <main>
                <%- include('./partials/breadcrumbs',{másSecciones:null,página:'Nuestros Productos'}) %>
                    <h1 class="TituloPrincipal">Conoce nuestros productos</h1>
                    <section>
                        <% productos.forEach(producto => { %>
                            
                            <%- include('./partials/card',{
                                id: producto.id,
                                imagen: producto.imagenes[0].nombre,
                                nombre: producto.nombre,
                                descuento: producto.descuento,
                                precio: producto.precio
                            }) %>
                            
                        <% }) %>
                    </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>