<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title:'XL - Carrito de Compras'}) %>

    <body class="cart">
        <%- include('./partials/header') %>
            <section class="producto">
                <table>
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre de producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                <tbody id="carrito"></tbody>
                <tfoot id="total">
                                
                </tfoot>
                </table>
            <section class="relacionado">
                <h5>Productos relacionados</h5>
                <div class="boxRelacionada">
                    <div class="cajaRelacionada">
                        <% for( let i = 0; i < 4; i++ ) { %>
                            <article>
                                <div class="contenedorRelacionado">
                                    <img src="/img/productos/<%= productos[i].imagenes[0].nombre %> " alt="">
                                </div>
                                <h4 class="subproductos"><%= productos[i].titulo %> </h4>
                                <span class="subtitular"><%= productos[i].descripcion %></span>
                                <p class="subprecio">$<%= productos[i].precio %></p>
                                <button class="subcarritos"onclick="addItem('<%= productos[i].id %>')">Agregar al carrito</button>
                            </article>
                        <% } %>
                    </div>
            </section>
            <%- include('./partials/footer') %>

    </body>

</html>