!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Nuestros productos'}) %> 

<body class="productos">
    <%- include('./partials/header') %> 
    <main>

        <%- include('./partials/banner') %>

        <section class="carrouselProductos">
            <div class="glider-contain">
                <div class="glider">
                    <% categorias.productos.forEach(producto => { %>
                        <%- include('./partials/card',{
                            id:producto.id,
                            imagen:producto.imagenes[0].nombre,
                            nombre:producto.nombre,
                            descuento:producto.descuento,
                            precio:producto.precio
                        }) %> 
                    <% }) %>
                </div>
              
                <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
    <script src="/javascripts/carrito.js"></script>
</body>
</html>