<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title:'XL - Detalle de Producto'}) %>

    <body class="detalle">
        <%- include('./partials/header') %>
            <main class="mainDetalle">
                <%- include('./partials/breadcrumbs',{página:'Detail'}) %> 
                <section class="producto">
                    <div class="imagen">
                        <img src="/img/productos/<%= producto.imagenes[0] %>" alt="Imagen producto">
                    </div>
                    <div class="bloqueDetalle">
                        <h3 class="titular"><%= producto.titulo%> </h3>
                        <p class="subprecio"><%= producto.precio %></p>
                        <div class="boton">
                            <input type="button" value="-">
                            <input class="medio" type="number" value="1" min="1" step="1">
                            <input type="button" value="+">
                        </div>
                        <span class="descripcion"><%= producto.descripcion %>
                        <button class="subcarrito">Agregar al carrito</button>
                        </span>
                    </div>
                </section>
                <section class="relacionado">
                    <div class="comprando">
                        <a href=""><i class="fas fa-ban"></i></a>
                        <a href="">Seguir comprando</a>
                    </div>
                    <h3 class="tituloRelacionado">Productos relacionados</h3>
                    <div class="cajaRelacionada">

                        <% for( let i = 0; i < 4; i++ ) { %>
                                <article>
                                    <div class="contenedorRelacionado">
                                        <img src="/img/productos/<%= productos[i].imagenes[0] %> " alt="">
                                    </div>
                                    <h4 class="subproductos"><%= productos[i].titulo %> </h4>
                                    <span class="subtitular"><%= productos[i].descripcion %></span>
                                    <p class="subprecio"><%= productos[i].precio %></p>
                                    <button class="subcarritos">Agregar al carrito</button>
        
                                </article>
                        <% } %>

                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>